.lcontainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
    padding-top: 5%;
    background-size: 100% 100%;
  }
  .lcontainer label {
    font-weight: 700;
    font-size: 1rem;
    color: #313131;

  }
  .lcontainer input {
    border-radius: 5px;
    border: 1px solid #dddddd;
    outline: none;
    padding: 10px 15px;
    color: #000;
    width : 500px ;
  }
  .lcontainer input:hover {
    border-color: #ccc;
  }
  .lcontainer input:focus {
    border-color: #9900ff;
  } 
  .lcontainer input:focus {
    border-color: #9900ff;
  }
  
  